$primary-color-light: lightblue;
$primary-color-transparent: rgba(30, 50, 200, 0.15);
$primary-color: #44aeff;
$primary-color-dark: #6bc1ff;
$primary-color-invert: white;
$primary-color-dark-invert: white;
$destructive-color: #e02626;
$destructive-color-dark: #a01b1b;
$not-black: #1e1e1e;
$not-black-invert: white;
$shadow-color: rgba(37, 32, 31, 0.3);
$shadow-color-invert: #44aeff;
$background-color: white;
$background-color-invert: #050d1b;
$mobile-navigation-unfolded-height: 6rem;
$character-move-speed: 0.4s;
