@import '~gg-components/Tokens/common';

$primary-color-light: lightblue;
$primary-color-transparent: rgba(30, 50, 200, 0.15);
$primary-color: #5a489b;
$primary-color-dark: #8e7bd3;
$primary-color-invert: white;
$primary-color-dark-invert: white;
$destructive-color: #e02626;
$destructive-color-dark: #a01b1b;
$character-move-speed: 0.4s;
$space-dimension: 2rem;
$link-color: #5a489b;
$link-color-invert: #8e7bd3;
