@import '~bpk-mixins';
@import 'helpers/tokens';

@keyframes example {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.smooth-button {
  &__outer {
    padding: 0.2rem 0.8rem;
    min-width: 5rem;
    font-weight: bold;
    transition: all 0.3s;
    border: none;
    border-radius: 3rem;
    background-color: $primary-color;
    color: white;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1rem;
    text-decoration-color: transparent;
    text-decoration-line: none;

    &:focus,
    &:active,
    &:hover {
      filter: saturate(3);
    }

    &--large {
      padding: 0.6rem 1.2rem;
      min-width: 7rem;
    }

    &--white {
      background-color: white;
      color: $not-black;

      &--disabled {
        color: gray;

        &:focus,
        &:active,
        &:hover {
        }
      }
    }

    &--secondary {
      background-color: transparent;
      color: $not-black;

      &--disabled {
        color: gray;

        &:focus,
        &:active,
        &:hover {
        }
      }
    }

    &--destructive {
      background-color: $destructive-color;

      &:focus,
      &:active,
      &:hover {
        filter: saturate(3);
      }
    }

    &--disabled {
      background-color: lightgray;

      &:focus,
      &:active,
      &:hover {
        background-color: lightgray;
      }
    }

    &--dark-text {
      color: #3c4451;
    }

    &--bouncy {
      padding: 0.2rem 0.8rem;
      transition: all 0.2s;
      background-color: transparent;
      color: $not-black;
      font-weight: normal;

      @media (prefers-color-scheme: dark) {
        color: $not-black-invert;
      }

      &:focus,
      &:active,
      &:hover {
        animation-name: example;
        animation-duration: 0.4s;
        background-color: $primary-color;
        color: white;
        fill: white;
        filter: saturate(1) brightness(1);
        font-weight: bold;
      }

      &--destructive {
        &:focus,
        &:active,
        &:hover {
          background-color: $destructive-color;
        }
      }
    }
  }
}
