@import '~bpk-mixins';
@import '~gg-components/Tokens/common';

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
}

body {
  font-family: 'Quattrocento Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');

  color: $not-black;
  background-color: $background-color;

  @media (prefers-color-scheme: dark) {
    color: $not-black-invert;
    background-color: $background-color-invert;
  }
}

body.fontLoaded {
  font-family: 'Quattrocento Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
}

#app {
  min-height: 100%;
  min-width: 100%;
}
