@import '~utils/tokens';

:root {
  --checkbox-tick-color: #{$checkbox-tick-color};

  --cta-color-dark-invert: #{$cta-color-dark-invert};
  --cta-color-invert: #{$cta-color-invert};
  --cta-color: #{$cta-color};

  --link-color-hover: #{$link-color-hover};
  --link-color-invert: #{$link-color-invert};
  --link-color: #{$link-color};
  --link-hover-color: #{$primary-color};

  --primary-color-dark: #{$primary-color-dark};
  --primary-color-invert: #{$primary-color-invert};
  --primary-color-light: #{$primary-color-light};
  --primary-color: #{$primary-color};

  --segmented-control-selected-color: #{$segmented-control-selected-color};
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
}

body {
  font-family: 'Quattrocento Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');

  color: $not-black;
  background-color: $background-color;

  @media (prefers-color-scheme: dark) {
    color: $not-black-invert;
    background-color: $background-color-invert;
  }
}

body.fontLoaded {
  font-family: 'Quattrocento Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
}

#app {
  min-height: 100%;
  min-width: 100%;
}
