@import '~bpk-mixins';
@import 'helpers/tokens';

.blank-space {
  &__space {
    width: 2rem;
    height: 2rem;
    background-color: $background-color;
    position: relative;
    z-index: -1;

    @media (prefers-color-scheme: dark) {
      background-color: $background-color-invert;
    }
  }
}
