@import '~bpk-mixins';
@import 'helpers/tokens';

.character {
  &__character {
    position: absolute;
    height: $space-dimension;
    width: $space-dimension;
    z-index: 1;
    transition: all $character-move-speed;
  }

  &__wrap {
    position: absolute;
    height: $space-dimension;
    width: $space-dimension;
    z-index: 1;
    display: flex;
    transition: all $character-move-speed;
    align-items: center;
    justify-content: center;
  }

  &__box {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #9e00bd;
    background-image: linear-gradient(180deg, #9e00bd 0%, #66128d 100%);
    border-radius: 0.4rem;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.4);

    &--danger {
      background-color: #d42c2c;
      background-image: linear-gradient(180deg, #d42c2c 0%, #961919 100%);
    }
  }
}
