@import '~utils/tokens';

.hint {
  &__outer {
    position: absolute;
    z-index: 15;
    width: $space-dimension;
  }

  &__hint {
    background: $not-black;
    border-radius: 0.4rem;
    width: 15rem;
    position: absolute;
    display: block;
    left: -7.5rem;
    top: -3rem;
    color: white;
  }

  &__arrow {
    width: 0.6rem;
    height: 0.6rem;
    transform: rotate(45deg);
    background: $not-black;
    margin-top: -0.3rem;
  }
}
