@import '~utils/tokens';

.level-wrapper {
  &__outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  &__description {
    max-width: 25rem;
  }

  &__row {
    display: flex;
  }

  &__level {
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
