@import '~bpk-mixins';
@import 'helpers/tokens';

.oil-spill {
  &__outer {
    position: absolute;
    z-index: 200;
  }

  &__svg {
    height: 150%;
    width: 150%;
    margin-left: -25%;
    margin-top: -25%;
  }

  &__path {
    fill: $not-black;
  }
}
