@import '~bpk-mixins';
@import 'helpers/tokens';

.open-space {
  &__space {
    background-color: white;
    position: relative;

    @media (prefers-color-scheme: dark) {
      background-color: gray;
    }
  }
}
