@import '~bpk-mixins';
@import 'helpers/tokens';

.space {
  &__space {
    width: 2rem;
    height: 2rem;
    background-color: lightgray;
    border: solid gray 0.1rem;
    position: relative;

    &--visited {
      background-color: white;
    }
  }

  &__shadow {
    background-color: gray;
    opacity: 0.2;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    left: 0;
  }
}
