@import '~bpk-mixins';
@import 'helpers/tokens';

.space {
  &__space {
    width: $space-dimension;
    height: $space-dimension;
    background-color: lightgray;
    border: solid gray 0.1rem;
    position: relative;
    z-index: 0;
    padding: 0;
    margin: -0.1rem 0 0 -0.1rem;

    @media (prefers-color-scheme: dark) {
      border-color: $not-black;
    }

    &--visited {
      background-color: $primary-color;

      @media (prefers-color-scheme: dark) {
        background-color: $primary-color-dark;
      }
    }
  }

  &__texture {
    width: 100%;
    height: 100%;
  }

  &__drop {
    position: absolute;
    width: 2rem;
    height: 0.5rem;
    background-color: rgb(200, 200, 200);
    left: 0.05rem;
    top: 1.9rem;
    z-index: 0;
    transform: skew(30deg, 0);
    border: solid gray;
    border-width: 0 0.1rem 0.1rem 0.1rem;

    @media (prefers-color-scheme: dark) {
      border-color: $not-black;
      background-color: #333333;
    }

    &--slide {
      width: 0.3rem;
      height: 2rem;
      background-color: gainsboro;
      left: 1.89rem;
      top: 0.14rem;
      transform: skew(0deg, 58deg);
      border-width: 0.1rem 0.1rem 0 0;

      @media (prefers-color-scheme: dark) {
        background-color: #5d5d5d;
      }
    }
  }
}
