@import 'helpers/tokens';

footer {
  display: flex;
  justify-content: space-between;
  padding: 3em 0;
  border-top: 1px solid #666;

  &__component {
    color: $not-black;

    @media (prefers-color-scheme: dark) {
      color: $not-black-invert;
    }
  }

  a {
    color: $primary-color-dark;

    &:hover {
      color: $primary-color;
    }
  }
}
