@import '~bpk-mixins';
@import 'helpers/tokens';

.tech-specs {
  &__container {
    display: flex;
    width: 100%;
    padding-left: 0.5rem;
    flex-direction: row;
    color: $not-black-invert;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    display: inline-block;
    width: 100%;
    max-width: 1.5rem;
    height: 100%;
    max-height: 1.5rem;
    padding: 0 0.5rem 0 0.2rem;
    filter: opacity(70%);

    &--wide {
      max-width: 3rem;
    }

    &--light {
      filter: opacity(100%);

      &:hover {
        filter: opacity(80%);
      }
    }

    &--light-inverted {
      filter: brightness(0) invert(1);

      &:hover {
        filter: brightness(0) invert(1) opacity(90%);
      }
    }

    &--no-light {
      &:hover {
        filter: opacity(90%);
      }
    }
  }
}
