@import '~utils/tokens';

.split-detail-view {
  &__outer {
    display: flex;
  }

  &__list-view {
    width: 50%;
    height: 100%;
    overflow: scroll;
    padding: 2rem 1rem 2rem 2rem;

    @include bpk-breakpoint-tablet {
      width: 100%;
      padding: 2rem;
    }
  }

  &__detail-view {
    width: 50%;
    height: 100%;
    overflow: scroll;
    padding: 2rem 2rem 2rem 1rem;

    @include bpk-breakpoint-tablet {
      position: absolute;
      width: 100vw;
      height: calc(100vh - 2rem);
      padding: 8rem 1rem 1rem 1rem;
      z-index: 4;
      top: 0;
      left: 0;
      background: $background-color;

      @media (prefers-color-scheme: dark) {
        background: $background-color-invert;
      }
    }
  }

  &__close-button {
    display: none;
    z-index: 4;
    position: absolute;
    top: 6rem;
    right: 2rem;

    @include bpk-breakpoint-tablet {
      display: inherit;
    }
  }
}
