@import '~utils/tokens';

.main-wrapper {
  &__container {
    width: 100%;

    &--debug {
      background-color: orange;

      @media (prefers-color-scheme: dark) {
        background-color: darkorange;
      }
    }
  }
}
