@import "~bpk-mixins";

.photo-gallery {
  &__component {
    margin-bottom: 1rem;

    &__text-box {
      max-width: 45rem;
      box-sizing: border-box;
    }

    &__button {
      margin-top: 1rem;
    }
  }
}
