@import '~bpk-mixins';
@import 'helpers/tokens';

.degree-module {
  display: flex;
  align-items: center;

  &--module-name {
    width: 9rem;
    margin-right: 1rem;
  }

  &--module-bar {
    position: relative;
    flex: 1;
  }

  &--first-marker {
    position: absolute;
    top: -0.2rem;
    width: 0.36rem;
    height: 0.36rem;
    margin-left: calc(70% - 0.175rem);
    border-radius: 0.2rem;
    background-color: $not-black;
    opacity: 0.5;
  }

  &--21-marker {
    position: absolute;
    top: -0.2rem;
    width: 0.36rem;
    height: 0.36rem;
    border-radius: 0.2rem;
    background-color: $not-black;
    opacity: 0.15;
  }

  &--percentage {
    width: 2.1rem;
    margin-left: 0.6rem;
    transition: all 0.4s;
    color: $primary-color;
    font-weight: bold;
  }
}
