@import '~bpk-mixins';
@import 'helpers/tokens';

.creative-commons {
  &__wrapper {
    background-color: #e4e4e4;
    margin-top: 2rem;
    padding-top: 1rem;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    display: flex;
    justify-content: center;

    @media (prefers-color-scheme: dark) {
      background-color: #232425;
    }
  }

  &__inner {
    max-width: 60rem;
    padding-left: 30px;
    padding-right: 30px;
    width: auto;

    @include bpk-breakpoint-tablet {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
