@import '~bpk-mixins';
@import 'helpers/tokens';

.ticket-scanner {
  &__error {
    background-color: rgba(224, 38, 38, 0.3);
  }

  &__no-photo-release {
    background-color: rgba(255, 255, 0, 0.3);
  }

  &__all-good {
    background-color: rgba(0, 255, 0, 0.3);
  }
}
