@import '~bpk-mixins';
@import 'helpers/tokens';

@fontface {
  font-family: 'Quattrocento Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
}

.notification-comp {
  &__container {
    width: 100%;
  }

  &__notification {
    display: flex;
    padding: 0.8rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: $not-black;
    color: white;
    font-family: 'Quattrocento Sans', sans-serif;

    &--neutral {
      background-color: $not-black;
    }

    &--success {
      background-color: darkgreen;
    }

    &--warn {
      background-color: darkorange;
    }

    &--error {
      background-color: #e02626;
    }
  }

  &__element {
    &--neutral {
      color: white;
    }

    &--success {
      color: white;
    }

    &--warn {
      color: white;
    }

    &--error {
      color: white;
    }
  }
}
